<%- include('./partials/header.ejs', {title: "Add Blog", user: locals.user}) %>
<div class="add__blog__container">
  <form action="/blogs" method="post" enctype="multipart/form-data">
  <h3>Write New Blog</h3>
  <label for="title">Title</label>
  <input type="text" name="title" required  placeholder="Title (Required)"/>
  <label for="content">Content</label>
  <textarea name="content" required placeholder="Write your thoughts here... (Required)"></textarea>
  <label for="thumbnail">Thumbnail</label>
  <input type="file" name="thumbnail" accept="image/*" onchange="loadFile(event)"/>
  <img id="output" class="preview"/>
  <button type="submit">Publish Blog</button>
</form>
</div>

<%- include('./partials/footer.ejs') %>
