<div class="page__wrapper">
  <%- include('./partials/header.ejs', {title: 'Bookmarks', user: locals.user})
  %>

  <div class="bookmarks__container">
    <h3>Bookmarks (<%= locals.bookmarks.length %>)</h3>
    <div class="blogs">
      <% locals.bookmarks.forEach(bookmark => { %> <%-
      include('./partials/blogCard.ejs', { blog: bookmark.blogId }) %> <% }); %>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</div>
