<div class="page__wrapper">
  <%- include('./partials/header.ejs', {title: 'Dashboard', user: locals.user})
  %>

  <div class="dashboard__container">
    <h3>Blogs Published (<%= locals.blogs.length %>)</h3>
    <div class="blogs">
      <% locals.blogs.forEach(blog => { %> <%-
      include('./partials/blogCard.ejs', { blog, role: "author" }) %> <% }); %>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</div>
