<%- include('./partials/header.ejs', {title: 'Home', user: locals.user}) %>
<%= locals.msg %>
<div class="home__container">
    <h2>Learn Something New <em> Everyday</em> .</h2>
    <a href="/blogs" class="read__blogs">Read Blogs</a>
</div>
<%- include('./partials/footer.ejs') %>
