<%- include('./partials/header.ejs', {title: 'Login'}) %>
<h1>Login</h1>
<p><%= locals.msg %></p>
<form action="/auth/login" method="post">
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Login</button>
</form>