<div class="page__wrapper">
  <%- include('./partials/header.ejs', {title: 'Signup'}) %>
  <div class="auth__container">
    <form action="/auth/signup" method="post" class="auth__form" onsubmit="return validateSignupForm()">
      <h1>Join BeeLog!</h1>
      <small><%= locals.msg %></small>
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Name (Required)"
      />
      <p class="error" id="name_error"></p>
      <label for="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email (Required)"
      />
      <p class="error" id="email_error"></p>
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password (Required)"
      />
      <p class="error" id="password_error"></p>
      <input type="hidden" name="role" value="user" />
      <button type="submit">Signup</button>
      <a href="/login" class="auth__link">Have an Account? Login Here</a>
    </form>
  </div>

  <%- include('./partials/footer.ejs') %>
</div>
