<footer>
  <span>Made in India with Love.</span>
  <span>&copy; BeeLog - 2024 | All Rights Reserved.</span>
</footer>
<script>
    var loadFile = function(event) {
      document.querySelector('.add__blog__container .preview').style.display="block"
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function() {
        URL.revokeObjectURL(output.src) // free memory
      }
    };
    </script>
</body>
</html>