<footer>
  <span>Made in India with &#x1F5A4;</span>
  <span>&copy; BeeLog - 2024 | All Rights Reserved</span>
</footer>

<!--Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="/scripts/main.js"></script>

</body>
</html>