<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %> | BeeLog</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/"
        ><div class="logo__box">
          <img src="/images/logo.gif" alt="logo" />
          BEELOG
        </div></a
      >
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <% if(!locals.user){ %>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
          <% }else{ %>
          <li><a href="/addBlog">Write Blog</a></li>
          <li class="dropdown">
            <%= locals.user.name %>
            <ul>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/dashboard">My Blogs</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            </ul>
          </li>
          <% } %>
        </ul>
      </nav>
    </header>
  </body>
</html>
