*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: auto;
    background-color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000000;
}

/* Header Styles  */
header{
    width: 100%;
    padding: 0px 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

.logo__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.logo__box img{
    width: 80px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li{
    font-size: 1.2rem;
}  

.dropdown{
    position: relative;
    cursor: pointer;
}

.dropdown ul{
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    position: absolute;
    right: -15px;
    width: inherit;
    padding-top: 10px;
}

.dropdown ul li{
    padding: 8px 16px;
    text-align: right;
}

.dropdown ul li:hover{
    background-color: gray;
}

.dropdown:hover ul{
    display: flex;
}


/* Blogs style  */
.blogs{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px;
}

.blog{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #000000;
}

.blog img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

.blog h4{
    font-size: 1.5rem;
}

.blog a{
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px 16px;
    width: fit-content;
}

/* Signup/login form style  */
.auth__container{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auth__form{
    width: 350px;
    margin: auto;
    padding: 20px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.auth__form h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.auth__form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.auth__form input{
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.auth__form p{
    width: 100%;
    text-align: right;
    font-size: .8rem;
}

.auth__form small{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto 20px auto;
}

.auth__form button{
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

.auth__link{
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
